@charset "UTF-8";
@font-face {
    font-family: 'TitleFont';
    src: url(/fonts/Allison-Regular.ttf);
}
@font-face {
    font-family: 'subtitle2';
    src: url(/fonts/Farsan-Regular.ttf);
}

body{
    background-color:#F5F5F5;
    margin: 0;
    padding: 0;    
}
*{
    margin: 0;
    padding: 0;
}

.header{
    font-family: 'TitleFont';
    text-align: center;
    color: #F5F5F5;
    background-color: #B76A40;
    font-size: 50px;
    padding: 20px 30px;
}

.card-payment{
    text-align: center;
}

.card-subtitle{
    font-family: 'subtitle2';
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group-info{
    margin-top: 2px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px 5px;
}

fieldset{
    border: 0;
    background-color: navajowhite;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.field input[type="text"], .field input[type="email"]{
    padding: 0.2em;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.field{
    margin: 5px;
    
}

fieldset.form-group-info .field{
    float: left;
    margin-right: 1em;
}

#img-feijoada{
    width: 300px;
}

#card-title{
    font-family: 'subtitle2';
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.card-content{
    margin: auto;
}


footer{
    text-align: center;
    background-color: #B76A40;
    padding: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 15px;
}

img{
    border-radius: 20px;
}


