@charset "UTF-8";
@font-face {
    font-family: 'TitleFont';
    src: url(/fonts/Allison-Regular.ttf);
}
@font-face {
    font-family: 'subtitle2';
    src: url(/fonts/Farsan-Regular.ttf);
}
@font-face {
    font-family: 'card-content';
    src: url(/fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: 'info-content';
    src: url(/fonts/Quicksand-Medium.ttf);
}

body{
    background-color:#F5F5F5;
    margin-bottom: 200px;    
}
*{
    margin: 0;
    padding: 0;
}

.header{
    font-family: 'TitleFont';
    text-align: center;
    color: #F5F5F5;
    background-color: #B76A40;
    font-size: 50px;
    padding: 20px 30px;
}

.card-payment{
    text-align: center;
}

.col{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

.card-subtitle{
    font-family: 'subtitle2';
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group-info{
    margin-top: 2px;
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'info-content';
}


fieldset{
    border: 0;
    background-color: navajowhite;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.form-group-info .checkbox{
    color: #010102; 
    font-size: 15px; 
    margin-left: 5px;
    font-family: 'card-content';
}

.checkbox .side-dish{
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.field input[type="text"], .field input[type="email"]{
    padding: 0.2em;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.radiobox input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

.container-price{
    width: 360px;
    height: 238px;
    margin: auto;
    margin-top: 20px;
    border: 0;
    background-color: navajowhite;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'subtitle2';
}

#icon-pay{
    width: 50px;
    height: 50px;
    border-radius: 0;
}

.container-price p {
    font-size: 20px;
}

.container-price button{
    width: 224px;
    height: 38px;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    color: #F5F5F5;
    font-family: 'subtitle2';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.radiobox{
    font-family: 'card-content';
    font-size: 15px; 
    margin-left: 5px;
}

.field{
    margin: 5px;
    
}

footer img{
    margin-top: 10px;
    width: 40px;
}

.feedback-btn{
    color: #F5F5F5;
    width: 224px;
    height: 38px;
    margin-top: 10px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'subtitle2';
    font-size: 20px;
    cursor: pointer; 
}

footer ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

#img-feijoada{
    width: 300px;
}

#card-title{
    font-family: 'subtitle2';
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 8px;
}

footer{
    text-align: center;
    background-color: burlywood;
    padding-bottom: 30px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
    height: 107px;
    bottom: 0;
    font-size: 15px;
}

img{
    border-radius: 20px;
}


