@charset "UTF-8";
@font-face {
    font-family: 'TitleFont';
    src: url(/fonts/Allison-Regular.ttf);
}
@font-face {
    font-family: 'subtitle';
    src: url(/fonts/YanoneKaffeesatz-Bold.ttf);
}

@font-face {
    font-family: 'card-content';
    src: url(/fonts/LibreBaskerville-Regular.ttf);
}
@font-face {
    font-family: 'subtitle2';
    src: url(/fonts/Farsan-Regular.ttf);
}

body{
    background-color:#F5F5F5;
    margin-bottom: 200px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


.header{
    font-family: 'TitleFont';
    text-align: center;
    color: #F5F5F5;
    background-color: #B76A40;
    font-size: 60px;
    padding: 20px 30px;
}

.Subtitle{
    font-family: 'subtitle';
    text-align: center;
    font-size: 12mm;
}

.cards h1{
    text-align: center;
}


#card-feijoada, #card-frango, #card-parmegiana, #card-macarrao{
    background-color: navajowhite;
    width: 600px;
    padding-top: 5px; 
    padding: 30px;
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.384);      
}


.button-order{
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'subtitle';
    font-size: 20px;
    background-color: tomato;
    cursor: pointer;
}

.cards img{
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    width: 400px;
}

.cards h1{
    font-size: 30px;
    padding-top: 5px;
    font-family: 'subtitle';
    margin-top: 5px;
}

.card-content{
    font-family: 'card-content';
    font-size: 15px;
    text-align: justify;
}

footer img{
    margin-top: 10px;
    width: 40px;
}

.feedback-btn{
    color: #F5F5F5;
    width: 224px;
    height: 38px;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'subtitle2';
    font-size: 20px;
    cursor: pointer; 
}

footer ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: burlywood;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
    height: 110px;
    bottom: 0;
    font-size: 15px;
}




